
button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #1534e4;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 120%;
  background-color: rgb(150, 231, 204);
}
view {
font-weight: bold;
color:#1534e4;

}
a {
  color: #1534e4;
  font-weight: bold;
  font-weight: bolder;

  
}

a:hover {
  color: #af0c71;
}


button:hover {
  background-color: #e70992;
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-weight: bold;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: rgb(221, 64, 16);
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  color: #1534e4;
}
